.black {
    width: 15px;
    height: 15px;
    background-color: black;
    border-radius: 50%;
    float: left;
    margin: 5px 10px 0px 10px;
}
.white {
    width: 15px;
    height: 15px;
    background-color: white;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    border-radius: 50%;
    float: left;
    margin: 5px 10px 0px 10px;
}